<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<header>
    <% if user_signed_in?%>
   <%= link_to 'Your Logs', workouts_path%>
    <%end%>
  </header>

<body>


    


  <div id="wrapper">
    
    <center><h1>CALCUPLATE</h1>
    <h4>Because You Don't Even Math, Bro</h4></center>

 <center>  <button class = "weights" id ="plate" value=45><img src = '/assets/45.png'/></button>
      <button class = "weights" id ="threeFive" value=35> <img src = "/assets/35.png"/> </button>
      <button class = "weights" id = "quarter" value = 25> <img src = '/assets/25.png'/> </button>
      <button class = "weights" id = "dime" value = 10> <img src = '/assets/10.png'/> </button>
      <button class = "weights" id = "nickel" value = 5> <img src = '/assets/5.png'/> </button>
       <button class = "weights" id = "two" value = 2.5> <img src = '/assets/2.png'/> </button>
<br/>
<br/>
<br/><br/><br/>
<div id = 'container'>
<div id= "bar"><img src = "/assets/barbell2.png"/></div>

<div id = "first">
  <div id = "firstplates">
    <div id = "r45"></div>
    <div id = "l45"></div>
</div>

  <div id = "first35">
    <div id = "r35"></div>
    <div id = "l35"></div>
</div>

<div id = "first25">
    <div id = "r25"></div>
    <div id = "l25"></div>
</div>

<div id = "first10">
    <div id = "r10"></div>
    <div id = "l10"></div>
</div>

<div id = "first5">
    <div id = "r5"></div>
    <div id = "l5"></div>
</div>

<div id = "first2">
    <div id = "r2"></div>
    <div id = "l2"></div>
</div>

</div>

<div id = "second">
  <div id = "secondplates">
    <div id = "r45b"></div>
    <div id = "l45b"></div>
  </div>

  <div id = "second35">
    <div id = "r35b"></div>
    <div id = "l35b"></div>
  </div>

  <div id = "second25">
    <div id = "r25b"></div>
    <div id = "l25b"></div>
  </div>

  <div id = "second10">
      <div id = "r10b"></div>
      <div id = "l10b"></div>
  </div>

  <div id = "second5">
      <div id = "r5b"></div>
      <div id = "l5b"></div>
  </div>

  <div id = "second2">
    <div id = "r2b"></div>
    <div id = "l2b"></div>
</div>
</div>

<div id = "third">
  <div id = "thirdplates">
    <div id = "r45c"></div>
    <div id = "l45c"></div>
  </div>

  <div id = "third35">
    <div id = "r35c"></div>
    <div id = "l35c"></div>
  </div>

  <div id = "third25">
    <div id = "r25c"></div>
    <div id = "l25c"></div>
  </div>

  <div id = "third10">
    <div id = "r10c"></div>
    <div id = "l10c"></div>
</div>

  <div id = "third5">
      <div id = "r5c"></div>
      <div id = "l5c"></div>
  </div>

  <div id = "third2">
    <div id = "r2c"></div>
    <div id = "l2c"></div>
</div>

</div>

<div id = "fourth">
    <div id = "fourthplates">
    <div id = "r45d"></div>
    <div id = "l45d"></div>
  </div>


  <div id = "fourth35">
    <div id = "r35d"></div>
    <div id = "l35d"></div>
  </div>

  <div id = "fourth25">
    <div id = "r25d"></div>
    <div id = "l25d"></div>
  </div>

<div id = "fourth10">
    <div id = "r10d"></div>
    <div id = "l10d"></div>
</div>

  <div id = "fourth5">
      <div id = "r5d"></div>
      <div id = "l5d"></div>
  </div>

  <div id = "fourth2">
    <div id = "r2d"></div>
    <div id = "l2d"></div>
</div>
</div>

</div>

  

      <button id = "load">Load</button>
      <button id = "deload">Deload</button>
<br/>
<br/>
<%= render 'form' %>

</div>
  

    
</body>
</html>